.app-main-content {
  display: flex;
}

.app-products-content {
  flex: 1;
  flex-basis: 80%;
}

.app-cart-content {
  flex: 1;
  flex-basis: 20%;
}

a{
  text-decoration: none !important;
  color: inherit !important;
}

Navbar{
  height: 40% !important;
}